<!DOCTYPE html>
<html>
    <head>
        <title>Pizza Express App</title>
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
    </head>
    <body>
        <h6>Pizza Express</h6>
     
        {{{ body }}}
     
        <h6>footer</h6>
    </body>
</html>