* {
    background-image: url('https://i.pinimg.com/originals/36/10/06/3610062ed612bf558fc08ed252fe6241.jpg')
}

h1 {
    color: darkblue;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
}